 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="red">About Us</h2>
                    <p>Systers provides a private, safe online forum for women involved in technical aspects of computing. Our members gain support by networking, sharing advice and experiences, and collaborating on various projects. We welcome women of all ages and at any stage of their studies or careers.</p>
                </div>
                <div class="col-sm-6"></div>
                    <img class="img-responsive" src="img/screenshot.png" alt="systers-about" style="height: 400px"/>
                </div>
            </div>
        </div>
    </section>
